.App {
  height: 5%;
  text-align: center;
  background-color: darkolivegreen;
  font-size: 2vw;
  font-weight: bold;
  font-family: arial;
  margin-top: 1vw;
  padding: 2vw;
  height: 100px;
  background: -webkit-linear-gradient(left top, red , blue); 
  background: -o-linear-gradient(bottom right, red, blue); 
  background: -moz-linear-gradient(bottom right, red, blue);
  background: linear-gradient(to bottom right, red , blue);
}

.Main {
  margin-bottom: 2vw;
  padding: 2vw;
  color: khaki;
  font-size: 4vw;
  width: 50%;
  margin-left: 25%;
  height: 10%;
}

ul {
  background-color: khaki;
  background: -webkit-linear-gradient(left, red , blue);
  background: -o-linear-gradient(right, red, blue); 
  background: -moz-linear-gradient(right, red, blue);
  background: linear-gradient(to right, red , blue);
  margin: 0;
  font-size: 3vw;
}

li {
  padding: 1vw;
  color: khaki;
  list-style-type: none;
}

.header {
  padding: 2vw;
  background-color: green;
  background: -webkit-linear-gradient(left, red , blue);
  background: -o-linear-gradient(right, red, blue); 
  background: -moz-linear-gradient(right, red, blue);
  background: linear-gradient(to right, red , blue);
  height: 5vw;
}

form {
  margin-top: 2vw;
  transform: translateY(-50%);
}

input {
  height: 2vw;
  font-size: 2vw;
  border-radius: 10%;
  margin-right: 1%;
}

 button {
  font-size: 2vw;
  background-color: white;
  border-radius: 10%;
 }
